body {
  margin:0px;
  font-family: "Lucida Console", Monaco, monospace
  overflow: hidden;
  background-color: #246C60;
}

h1 {
  font-size: 32px;
  margin: 0px;
  font-family: "Lucida Console", Monaco, monospace
}

button {
  min-width: 150px;
  min-height: 50px;
  padding: 5px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 0px 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.commonButton{
  background-color: #A33643;
  color: white;
}




/*
Theme colors:
primary: 246C60
  6CA299
  43877C
  0D5146
  00362D
secondary: AA8139
  F5A3AD
  CC6672
  7A1420
  52000A
tertiary: A33643
  FFE0AA
  D4AE6A
  805915
  553600
*/

#menu {
  position:absolute;
  width: 200px;
  font-family: "Lucida Console", Monaco, monospace
}

.sideButton{
  margin: 10px auto;
  text-align: center;
  color: white;
  padding: 5px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #246C60;
  cursor: pointer;
}

.sideButton p {
  font-size: 18px;
}

.activeSB{
  color: black;
  background-color: #FFE0AA;
  z-index: 5;
}

#bodyWrapper {
  position:relative;
  background-color: #FFE0AA;
  padding: 10px 0px;
  margin: 0px 0px 0px 200px;
  margin-bottom: -5000px;
  padding-bottom: 100%;

  /*-webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.75);*/
}

#titleWrapper {
  text-align: center;
  color:white;
}


#journalEntry {
  width: 100%;
}

#entryManagement {
  width: 90%;
  display:block;
  margin: 25px auto;
}

#submitEntry {
  background-color: #246C60;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width: 175px;
}

#history {
  margin: 50px;
}

#attachedFile {
  display: none;
}

.entry{
width: 100%;
border: 1px solid gray;
box-shadow: 1px 1px 3px #888;
border-top: 20px solid #246C60;
min-height: 250px;
padding-: 10px;
margin: 10px;
background-color: white;
}

.entry img{
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

.entry h1{
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -70px;
}

.entry p{
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

#mainbox{
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Notebook CSS */
.paper {
    position: relative;
    width: 90%;
    max-width: 800px;
    min-width: 400px;
    height: 450px;
    margin: 0 auto;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    overflow: hidden;
}
.paper:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 60px;
    background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #D44147;
    box-sizing: border-box;
}

.paper-content {
    position: absolute;
    top: 30px; right: 0; bottom: 30px; left: 60px;
    background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
    background-size: 30px 30px;
}

.paper-content textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: black;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    z-index: 1;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    color: rgba(0,0,0,.6);
}
footer a {
    color: rgba(255,255,255,.8);
}
